# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
venv/
env/

# Node
node_modules/

# Logs
*.log

# IDE
.vscode/
.idea/

# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Temporary
*.tmp
*.bak

# Environment
.env
.env.*
